<div id="admin-only">
	<h2>Upgrade a User</h2>
	<input id="username" type="text" placeholder="Username" />
	<button type="button" id="check-credentials" class="btn btn-default">Check User Credentials</button>
	<p id="credentials"></p>
	<select id="user-type">
		<option value="sexpert" selected>Sexpert</option>
		<option value="employee">Employee</option>
		<option value="admin">Admin</option>
	</select>
	<button type="button" id="submit-type" class="btn btn-default">Submit</button>
	<p id="message"></p>
</div>