<!-- views/partials/head.ejs -->
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<title>Hookup</title>
<link rel="stylesheet" type="text/css" href="/public/css/master.css" />
<link rel="stylesheet" type="text/css" media="(max-width: 750px)" href="/public/css/medium.css" />
<link rel="stylesheet" type="text/css" media="(max-width: 550px)"  href="/public/css/narrow.css" />
<!-- <link rel="icon" type="image/png" href="../images/favicon.png"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">