<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Hookup</title>

<!-- CSS (load bootstrap from a CDN) -->
<script src="/public/js/jquery-1.11.2.min.js"></script>
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type='text/javascript' src='/bootstrap/dist/js/bootstrap.min.js'></script>
<style>
	body { padding-top:50px; }
</style>