<div class="messages-container">
	<ul class="messages"></ul>
	<form class="message-form" action = "">
		<input class="message" autocomplete="off" />
		<button class="btn">Send</button>
	</form>
</div>
