<!doctype html>
<html>
<head>
	<% include ./partials/head %>
</head>
<body>
    <div class="container">
        <header>
            <% include ./partials/header %>
        </header>
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span>Hookup Home</h1>

            <p>Pages:</p>

            <a href="/tn/ask" class="btn btn-default">Ask a Sexpert</a>
            <a href="/tn/share" class="btn btn-default">Share Your Story</a>
        </div>
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>