<!-- views/index.ejs -->
<!doctype html>
<html>
    <head>
      <% include ./partials/head %>
    </head>
    <body id="home" class="public">
    <div id="header">
      <div id="logo"><a href="/tn"><img src="/public/images/logo.png"></a></div>
      <div id="nav">
      </div>
      <div class="clear"></div>
    </div>
    
    <div id="content">
      <div id="intro">
        <h1>Sex ed sucks. Try us.</h1>         
        <p>We're Hookup, and we'll answer all your sex-related questions. We're in a beta testing period, and we chose our Tennessee home for first dibs. Go Vols!</p>
        <p id="join"><a class="btn" href="/tn/login">Login</a> <a class="btn" href="/tn/signup" id="signup">Signup</a></p>
      </div>
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>
  </body>
</html>