<html>
	<head>
		<% include ./partials/head %>
	</head>
	<body id="home" class="privacy">
		<div id="content">
			<header>
				<% include ./partials/header %>
			</header>
			<h1>Privacy Policy</h1>
			<div id="policy">
				<h3>Privacy Policy</h3>
				<p>We respect your online privacy, and the information you share will remain private. Please note: the information you send Hookup is completely confidential unless you tell us that you are harming or planning to harm yourself or others. Hookup will also disclose information about you if we are required by law to do so.</p>

				<p>We collect non-personal information via IP addresses, access time, device ID, domain name, screen views, device name and model, operating system, and your activities within Hookup. We use IP addresses for system administration and security and to improve the value of the materials available through Hookup. Information from Cookies allows us to improve the usability of the site.</p>

				<p>We only collect email and age for internal uses. We collect the content you submit to Hookup (questions, stories, votes), as well as information about when you submitted the content, when it was viewed, and other activities.</p>

				<p>You can like us on Facebook, follow us on Twitter, and promote us on other social media sites. We collect information about who has liked us or followed us. However, we don’t associate your social media account with your Hookup account.</p>

				<p>Please exercise caution when deciding to disclose personal information. Hookup urges you never to post personally identifiable information like your name, telephone number, or home address.</p>

				<h3>Terms of Use</h3>

				<p>Hookup is a mobile-friendly web-based app that provides information about sex education through innovative and fun methods. This web-app is for sexuality and health related information for users thirteen years of age and older. By using this web-app, you agree to comply with the Terms of Use. The Terms are a legal contract between you and Hookup. These Terms explain how you are permitted to use the app at www.dohookup.com<%= route %> and any content therein. The Services Hookup provides include all the services available through the Hookup web-app. By using the Services, you agree to all of the Terms; if you do not agree with any of these Terms, do not access the Services.</p>

				<p>The Terms may be updated or changed at any time. Your continued use implies that you accept any and all changes made to this agreement.</p>

				<p>The information contained within the Hookup web-app does not constitute medical, legal, or other professional advice. The information presented on this site or sent to you by a “Sexpert” in response to a message from you is meant for general education purposes only. It is not intended or implied to serve as specific medical advice, diagnosis, or treatment. It should never be a substitute for consultation with a physician or other health professional. If you have, or think you might have, a medical problem or symptom, please consult a medical professional right away.</p>

				<p>Hookup keeps any information you provide us confidential. When you register and become a user, we ask for your email and age. Your username will be visible on the web-app any time you submit a question or story. We ask that you not use your actual name as your username. Your other information will be used internally only and to make improvements to Hookup based on the users that visit. This information is owned and managed by Hookup. We will not distribute your email address to anyone else.</p>

				<p>Hookup does not assume any responsibility or risk for your use of the Hookup web-app. Hookup assumes no liability for any diagnosis, treatment, decision, or action you take in response to the information that is provided in this web-app or sent to you in response to a message. In no event shall Hookup be liable for any injury, loss, claim, damage, or any incidental or consequential damages arising either directly or indirectly out of or in any way connected to Hookup or any failure or delay in updating or including any materials in the Hookup web-app.</p>

				<p>The materials on this web-app may be printed or shared as long as it is only for personal use. It is prohibited to reprint or electronically reproduce any text, graphic, or photo material for bulk or commercial use.</p>

				<p>When you submit a question to Hookup, you are authorizing Hookup staff to read, edit, and publish it on the website. All questions, comments, articles, etc. submitted to Hookup become the property of Hookup. Personal questions submitted to the “Ask a Sexpert” section of the web-app will not be shared publicly unless your question is chosen as an example. In this case, any personally identifying information will be edited out of the question.</p>

				<p>Hookup disclaims responsibility for any errors or omissions or for unintended technical inaccuracies or typographical errors in the materials.</p>
			</div>
			<div class="clear"></div>
		</div>
		
		<footer>
				<% include ./partials/footer %>
				<% include ./partials/analytics %>
		</footer>  
	</body>
</html>