<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
    <script type='text/javascript' src='/public/js/sexpert.js'></script>
</head>
<body>
    <div class="container">
        <header>
            <% include ./partials/header %>
        </header>
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span>Sexpert Page</h1>
        </div>
        <div id="waiting-container">
        	<ol id="waiting">
        	</ol>
        </div>
        <p id="alert"></p>
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>