<!-- views/index.ejs -->
<!doctype html>
<html>
    <head>
      <% include ./partials/head %>
    </head>
    <body id="share">
    <header>
        <% include ./partials/header %>
    </header>
    
    <div id="share-content">
      <div id="share-section">
        <h2>Share your story</h2>         
        <p>It is anonymous and will be up within 24 hours.</p>
        <h3>Full feature coming soon! E-mail your stories to <a href="mailto:hookupsexed@gmail.com?Subject=Share%20your%20story">hookupsexed@gmail.com</a>.</h3>
        <div id="share-form">
        	<a id="share-button" class="btn" href="mailto:hookupsexed@gmail.com?Subject=Share%20your%20story">spill</a>
        </div>
      </div>
      <div id="read-section">
      	<img class="overlap" src="/public/images/grape_icon.png" />
      	<h3>Story Time</h3>
      	<div class="story-container">
	      	<div class="story">
	      		I was cheating with my roommate's boyfriend, and she came home early one day. I had to hide him in my laundry basket and throw my dirty clothes on top.
	      	</div>
	      	<div class="votes">
	      		<span class="upvotes">10</span><img src="/public/images/condom_selected.png" />
	      	</div>
	      	<div class="byline">
	      		<img src="/public/images/clock.png" /><span class="date"> April 5  </span>
	      		<span class="author">Submitted by PinkBunny</span>
	      	</div>
	      	<div class="clear"></div>
	      </div>
	      	<div class="story-container">
	      	<div class="story">
	      		Once I gave a guy a blowjob at a bus stop while waiting to be dropped off at school. I was 16, and we had chemistry class together.
	      	</div>
	      	<div class="votes">
	      		<span class="upvotes">8</span><img src="/public/images/condom_unselected.png" />
	      	</div>
	      	<div class="byline">
	      		<img src="/public/images/clock.png" /><span class="date"> April 4  </span>
	      		<span class="author">Submitted by JuniorPop</span>
	      	</div>
	      	<div class="clear"></div>
	    </div>
	    <div class="story-container">
	      	<div class="story">
	      		My mom made my dad have a big NO PORN talk with me and then gave me a copy of an old Playboy magazine in secret. 
	      	</div>
	      	<div class="votes">
	      		<span class="upvotes">12</span><img src="/public/images/condom_unselected.png" />
	      	</div>
	      	<div class="byline">
	      		<img src="/public/images/clock.png" /><span class="date"> April 4 </span>
	      		<span class="author">Submitted by countryboy12</span>
	      	</div>
	      	<div class="clear"></div>
	    </div>
	     <div class="story-container">
	      	<div class="story">
	      		I was assaulted at a party freshman year and never told anyone. I wish I had. 
	      	</div>
	      	<div class="votes">
	      		<span class="upvotes">10</span><img src="/public/images/condom_unselected.png" />
	      	</div>
	      	<div class="byline">
	      		<img src="/public/images/clock.png" /><span class="date"> April 3  </span>
	      		<span class="author">Submitted by SrElephant</span>
	      	</div>
	      	<div class="clear"></div>
	    </div>
	     <div class="story-container">
	      	<div class="story">
	      		I got an STD from having a one night stand, and now I'm scared to have sex again. 
	      	</div>
	      	<div class="votes">
	      		<span class="upvotes">9</span><img src="/public/images/condom_unselected.png" />
	      	</div>
	      	<div class="byline">
	      		<img src="/public/images/clock.png" /><span class="date"> April 1  </span>
	      		<span class="author">Submitted by tmoney</span>
	      	</div>
	      	<div class="clear"></div>
	    </div>
	    </div>
      </div>
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>
  </body>
</html>