html, body {
    height: 100%;
}
	      
body { 
	font: 16px HelveticaNeue;
}

.center {
	text-align: center;
}

#page-container {
	height: 100%;
}

.message-form {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.message-form textarea {
	border: 0;
	height: 10em;
	overflow-y: auto;
}
	      
.message-form button {
	width: 9%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}
	      
.messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-wrap: break-word;
	overflow-y: auto;
	height: 17em;
}
	      
.messages li {
	padding: 5px 10px;
}
	      
.user-message {
	color: blue;
}

.sexpert-message {
	color: red;
}

/* sexpert chat */
#chat-windows .messages-container {
	display: inline-block;
	width: 45%;
	height: 30em;
	background-color: white;
	border: solid 2px black;
	margin-bottom: .5em;
}

#chat-windows .messages-container.ready {
	background-color: lightyellow;
}

#chat-windows .messages-container.ended {
	background-color: #C9CCC8;
}

#chat-windows .message-form {
	position: relative;
}

#chat-windows .message {
	width: 90%;
}

#chat-windows .send-chat {
	width: 70%;
	font-size: 1em;
	background-color: #F1A50B;
}

#chat-windows .end-chat {
	width: 25%;
	font-size: 1em;
}

.hidden-btn {
	display: none;
}

button.online-status {
	border: 2px solid #FF5600;
}

span.awaiting-response {
	color: #fff;
}

