html,body {
    background: url(/public/images/BG_landing.png) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

#page-container {
	color: #FFFFFF;
	font-family: Helvetica Neue;
	width: 90%;
	margin: auto;
}

#page-container p {
	font-size: 1em;
}

.center {
	text-align: center;
}

#page-container h1 {
	font-size: 5em;
	margin-bottom: 5%;
}

#page-container h3 {
	font-size: 2em;
}

#alert-message {
	font-weight: bold;
}

.error {
	color: #F1A50B;
}

.success {
	color: #37B1B2;
}

#form-container {
	margin-top: 2%;
	margin-bottom: 5%;
}

#form-container input {
	font-size: 1em;
	color: gray;
	padding: 2%;
	margin: 2%;
}

#form-container #age {
	width: 15%;
}

#form-container #email {
	width: 90%;
}

#form-container #submit {
	color: #FFFFFF;
	background: #F1A50B;
	border: none;
	width: 25%;
}

#privacy-container {
	font-family: HelveticaNeue-Light;
	margin-bottom: 5%;
	font-size: 1em;
}


@media screen and (min-width: 600px) {
	#page-container h1 {
		font-size: 4em;
		margin-bottom: 3%;
	}

	#form-container input {
		padding: 1%;
		margin: 1%;
	}
	
	#form-container #age {
		width: 8%;
	}

	#form-container #submit {
		width: 12%;
	}
	#form-container #email {
		width: 40%;
	}

	#privacy-container {
		margin-bottom: 3%;
	}
}