/* ---------------------- Imports ------------------------ */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/* ----------------------- Fonts ------------------------- */
body, input, textarea { font-family: 'HelveticaNeue', sans-serif; }

/* ---------------------- Basics ------------------------- */
body { font-size: 18px; margin: 0; }
body, html { height: 100%; overflow-x: hidden; width: 100%; }

.clear { clear: both; }

.c2l, .c2r { width: 48%; }
.c2l, .c3l, .c3m { float: left; }
.c2r, .c3r { float: right; }
.c3l { margin-right: 3%; }
.c3l, .c3m, .c3r { width: 31%; }


h2, h3, h4 { color: #fff; font-weight: 100; }
h4 { color: #267F9E; text-transform: uppercase; }

/* ----------------------- Forms ------------------------- */
.btn { 
  background: #F1A50B;
  border: 0;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none; 
}

textarea { border: 1px solid #ccc; border-radius: 3px; font-size: 1em; padding: 20px; width: 85%; }

/* ---------------------- Header ------------------------ */
.dropdown { 
  background: #FF6409; 
  margin-top: 5px;
  max-width: 200px; 
  padding-left: 0; 
  position: absolute; 
  list-style: none; 
}
.dropdown li { padding: 3px 10px; }
.dropdown li a { color: #fff; }

#header { width: 100%; }

#logo { float: left; padding: 40px 70px; }
#logo img { max-height: 45px; }

#menu-toggle { display: none; margin: 0; }
#menu-toggle a { color: #fff; }

#menu-content { 
  background: #092D3C;
  color: #fff; 
  margin: 0 27px 0 0 !important; 
  padding-left: 0px; 
  position: absolute;
  top: -300px;
  width: 220px;
  z-index: 1000; 
}
#menu-content.active { right: 3px; top: 52px !important; }
#menu-content .dropdown { position: relative; }
#menu-content li { padding: 5px 10px; }
#menu-content li a { color: #fff; }

#nav { display: inline-block; float: right; padding: 50px 70px; }
#nav-content, #menu-content { list-style: none; }
#nav-content > li > a { color: #fff; }
#nav-content li { float: left; margin-right: 20px; }
#nav-content li a, #menu-content li a { font-weight: 100; line-height: 12px; text-decoration: none; }
#nav-content li img { vertical-align: middle; }

/* ---------------------- Footer ------------------------ */
#footer { background: #092D3C; font-size: 12px; padding: 10px 10px 40px; }

#footer #contact { font-size: 1em; }
#footer #contact a { color: #fff; text-decoration: none; }

#footer #social { font-size: 18px; list-style: none; padding-left: 0px; }
#footer #social li { display: inline-block; margin: 0px 3px; }
#footer #social .fa-stack-2x { color: #fff; }
#footer #social .fa-stack-1x { color: #122B3D; }

#footer-nav { list-style: none; padding-left: 0px; }
#footer-nav li { display: inline-block; margin: 0px 3px; } 
#footer-nav a { color: #fff; text-decoration: none; }

/* ----------------------- Main ------------------------- */
.teal-background { background: #24B1B1; height: 100%; }

#available-sexperts { color: #267F9E; }
#available-sexperts #sexpert-count { background: #FE7B80; color: #fff; border-radius: 20px; padding: 3px 8px; }

#chat { background: #37B1B2; height: 100%; }
#chat h1 { color: #fff; font-size: 3em; margin-left: 35px; }

#content { padding: 30px; }

.conversation { list-style: none; }
.conversation li { background: #fff; margin-bottom: 40px; padding: 10px 20px; width: 70%; }
.conversation .avatar { margin-bottom: 0px; }
.conversation .avatar img { margin-top: 8px; max-width: 30px; }
.conversation .byline { color: gray; float: right; font-size: 0.8em; }
.conversation .byline .author { color: #122B3D; font-size: 1.25em !important; }
.conversation .sexpert { float: right; }
.conversation .user { float: left; }

#home { color: #fff; height: 100%; text-align: center; width: 100%; }
#home #content { height: 65%; padding: 0px 120px; }
#home h1 { font-size: 48px; font-weight: normal; }

#home.landing { background: url('/public/images/bg-home-member.png'); }
#home.landing #about { background: #d61240; height: 400px; line-height: 30px; padding: 100px 350px; }
#home.landing #content { height: 70%; }
#home.landing #features { background: #37B1B2; height: 1100px; padding: 100px 50px; }
#home.landing #features dd { margin: 0 0 20px 0px; }
#home.landing #features dl { line-height: 30px; text-align: left; width: 80%; }
#home.landing #features dt { text-decoration: underline; }
#home.landing #features hr { margin-bottom: 40px; }
#home.landing #features img { margin-bottom: 50px; }
#home.landing #fresh { background: #F1A50B; height: 500px; padding: 100px 50px; }
#home.landing #fresh dd { margin-bottom: 60px; }
#home.landing #fresh h3 { margin-bottom: 40px; }
#home.landing #signup { background: #d61240; height: 400px; line-height: 30px; padding: 100px 350px;}
#home.landing #nav { padding-top: 24px; padding-bottom: 24px; }
#home.landing h1 { font-weight: bold; }

#home.member { background: url('/public/images/bg-home-member.png'); }
#home.member #content { line-height: 26px; padding: 0px 240px; }
#home.member #content #signature { margin: 100px 0px; }
#home.member #features { width: 100%; }
#home.member #features .description { min-height: 100px; }
#home.member #features h3 { color: #fff; text-transform: none; }
#home.member #features p { line-height: 32px; padding: 0px 50px; }
#home.member #features .c2l, #home.member #features .c2r { padding: 30px 0px; width: 50%; }
#home.member #features .c2l { background: #8B4D8E; }
#home.member #features .c2r { background: #37B1B2; }

#home.public { background: url('/public/images/bg-home-public.png'); }
#home.public #intro { padding: 0px 120px; }
#home.public #intro p { line-height: 40px; }
#home.public #intro #join { margin: 40px 0px; }
#home.public #intro #join .btn { line-height: 28px; margin: 10px 30px; min-width: 120px; }
#home.public #intro #join #signup { background: #37B1B2; } 

.question { margin: auto; max-width: 500px; text-align: center; }
.question-form { background: #fff; border-radius: 3px; padding-top: 15px; position: relative; }
.question-form .btn { border-radius: 0 0 3px 3px; padding: 30px; width: 100%; }
.question-form #edit-question a { color: #000; text-decoration: none; }
.question-form textarea { resize: none; }
.question-form #available-sexperts { margin-top: 100px; }

  .question.ask { height: 400px; margin-top: 10%; width: 45%; }
  
  .question.chat { text-align: center; width: 81%; }
  .question.chat h4 { 
    color: #000; 
    font-weight: 400; 
    margin-left: 30px; 
    margin-top: 10px; 
    text-align: left; 
    text-transform: none; 
  }

.sexpert-profile { background: #fff; margin: -80px auto 40px; padding: 5px 15px; text-align: center; width: 75%; }
.sexpert-profile #sexpert-content { display: none; }
.sexpert-profile #name { color: #267F9E; }
.sexpert-profile #bio { margin-bottom: 40px; }

.sexpert-queue { color: #267F9E; font-size: 12px; margin-left: 85px; margin-top: -10px; }