/* ---------------------- Basics ------------------------- */
.c2l, .c2r { float: none; width: auto; }

/* ---------------------- Header ------------------------ */    
#menu-toggle { display: block; }  
  
#nav-content { display: none; }
#header.landing #nav-content.landing { display: inline-block; }

/* ----------------------- Main ------------------------- */
#chat h1 { display: none; }

.conversation { padding-left: 0; }
.conversation li { margin: 0px auto 20px auto; padding: 10px 15px; width: 75%; }
.conversation .sexpert { float: none; }
.conversation .user { float: none; }

#home.landing #content, #home.member #content, #home.public #content { padding: 0px 30px; }
#home.landing #about, #home.landing #features, #home.landing #fresh, #home.landing #signup  { padding: 20px 40px; }
#home.landing #features img { width: 90%; }

#home.member #features .c2l, #home.member #features .c2r { float: none; width: auto; }

#home.public #content #intro { padding: 0; }

.question.ask { width: 65%; }

.sexpert-profile { margin-top: 0; }

.sexpert-container { margin: 1em; }
.sexpert-container div.row { display: block; width: 100%; }
.sexpert-container .sexpert-list-item span { margin: 1em .25em; }
.sexpert-container .sexpert-list-item span.experience, .sexpert-container .sexpert-list-item span.age { width: initial; }
.sexpert-container .sexpert-list-item span.age { margin-right: 0em; }
.sexpert-container .sexpert-list-item span.bio { width: 75%; padding-top: 0em; vertical-align: middle; margin-right: 1em; }
