/* ---------------------- Basics ------------------------- */
.c2l, .c2r { float: none; width: auto; }

/* ---------------------- Header ------------------------ */    


/* ----------------------- Main ------------------------ */
#chat h1 { display: none; }

.conversation { padding-left: 0; }
.conversation li { margin: 0px auto 20px auto; padding: 10px 15px; width: 90%; }
.conversation .sexpert { float: none; }
.conversation .user { float: none; }

#content { padding: 0px; margin-bottom: 2em;}
.question.ask #description { height: initial; }
.question.ask { width: 90%; height: initial; }
.question.ask a.feed-btn { width: 75%; }

.user-chats-container { padding: .25em 0; }
.user-chats-container h2 { margin-bottom: 0px; }
.user-chats-container .user-chats span { padding: .25em 0; }
.user-chats-container .user-chats span.date { display: inline-block; width: initial; }
.user-chats-container .user-chats span.resume-button.last { display: block; width: 100%; }
.user-chats-container .user-chats span.resume-button.first { display: none; }
.user-chats-container .user-chats span.resume-button button { width: 100%; }
.user-chats-container .user-chats p.header-row { display: none; }
.user-chats-container .user-chats p { display: block; width: inherit; }
.user-chats-container .user-chats span.content { display: block; width: 100%; }
.user-chats-container .user-chats span.sexpert { width: initial; margin-left: 10px; display: inline-block; }
.user-chats-container .user-chats span.sexpert-label { display: inline-block; margin-right: 5px}

.question.chat { width: 97%; }

.question-form h4 { display: none; }

.sexpert-profile { margin-top: 0; width: 90%; }

#login .btn { width: 50%; }

#share { font-size: 14px; }
#share #share-section { text-align: left; margin-left: 2%; margin-right: 2%; }
#share #share-section #share-form { text-align: center; width: 95%; }
/*#share #share-section .btn { width: 75%; }*/
#share .story-container { width: 92%; }
#share .story { width: 100%; }
#share .author { display: none; }


#header.landing #nav-content.landing .nav-btn { font-size: 14px; }
#header.landing #nav { padding-left: 0px; padding-right: 5%; }
#header.landing #logo { padding: 5%; }

.sexpert-container { padding: 1em 0em; }
.sexpert-container ol { text-align: center; }
.sexpert-container .select-sexpert-btn { width: 75%; }
.sexpert-container div.narrow-row { display: block; width: 100%; }
.sexpert-container .sexpert-list-item { margin: 1em auto; } 
.sexpert-container .sexpert-list-item span { width: initial; }
.sexpert-container .online-status span.circle-container { margin-bottom: 1em; }

#chat-feed .edit-message-buttons { width: 100%; }
#chat-feed .btn { font-size: 16px; padding: .25em .5em; border-radius: 10px; margin-top: 5px; }